In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [3]:
df_housing = pd.read_csv('../scrapers/csv/fotocasa.csv')
df_housing.shape

(11280, 8)

In [4]:
df_housing.head()

,neighbourhood,district,latitud,longitud,zipcode,date,price,features
0,Gaztambide,Chamberí,40.430347,-3.713973,28015.0,2024-03-22T04:00:00.743Z,650000,"[('bathrooms', 2), ('floor', 10), ('air_condit..."
1,Recoletos,Barrio de Salamanca,40.423172,-3.690691,28001.0,2024-03-22T04:00:00.743Z,2600000,"[('bathrooms', 4), ('conservationState', 2), (..."
2,Legazpi,Arganzuela,40.387657,-3.694176,28045.0,2024-03-22T06:10:33.45Z,375000,"[('bathrooms', 1), ('floor', 3), ('air_conditi..."
3,Aravaca,Moncloa - Aravaca,40.461967,-3.775143,28023.0,2024-03-22T07:05:30.707Z,1200000,"[('bathrooms', 4), ('conservationState', 2), (..."
4,Cortes - Huertas,Centro,40.411037,-3.693996,28014.0,2024-03-22T06:20:50.543Z,400000,"[('bathrooms', 2), ('conservationState', 1), (..."

In [5]:
airbnb = pd.read_csv('../data/airbnb/airbnb-listings.csv', delimiter=';', low_memory=False)

In [26]:
airbnb.columns

Index(['ID', 'Listing Url', 'Scrape ID', 'Last Scraped', 'Name', 'Summary',
       'Space', 'Description', 'Experiences Offered', 'Neighborhood Overview',
       'Notes', 'Transit', 'Access', 'Interaction', 'House Rules',
       'Thumbnail Url', 'Medium Url', 'Picture Url', 'XL Picture Url',
       'Host ID', 'Host URL', 'Host Name', 'Host Since', 'Host Location',
       'Host About', 'Host Response Time', 'Host Response Rate',
       'Host Acceptance Rate', 'Host Thumbnail Url', 'Host Picture Url',
       'Host Neighbourhood', 'Host Listings Count',
       'Host Total Listings Count', 'Host Verifications', 'Street',
       'Neighbourhood', 'Neighbourhood Cleansed',
       'Neighbourhood Group Cleansed', 'City', 'State', 'Zipcode', 'Market',
       'Smart Location', 'Country Code', 'Country', 'Latitude', 'Longitude',
       'Property Type', 'Room Type', 'Accommodates', 'Bathrooms', 'Bedrooms',
       'Beds', 'Bed Type', 'Amenities', 'Square Feet', 'Price', 'Weekly Price',
       'Monthly Price', 'Security Deposit', 'Cleaning Fee', 'Guests Included',
       'Extra People', 'Minimum Nights', 'Maximum Nights', 'Calendar Updated',
       'Has Availability', 'Availability 30', 'Availability 60',
       'Availability 90', 'Availability 365', 'Calendar last Scraped',
       'Number of Reviews', 'First Review', 'Last Review',
       'Review Scores Rating', 'Review Scores Accuracy',
       'Review Scores Cleanliness', 'Review Scores Checkin',
       'Review Scores Communication', 'Review Scores Location',
       'Review Scores Value', 'License', 'Jurisdiction Names',
       'Cancellation Policy', 'Calculated host listings count',
       'Reviews per Month', 'Geolocation', 'Features', 'month_price'],
      dtype='object')

In [24]:
airbnb['month_price'] = ((airbnb['Price'].astype(float) *30) * 0.8)

In [25]:
not_na = airbnb[airbnb['Monthly Price'].notna()]
not_na[['Monthly Price', 'month_price']]

       Monthly Price  month_price
13            1900.0       1968.0
15            1100.0       1440.0
18            3060.0       2880.0
21            3200.0       3840.0
23             980.0       1560.0
...              ...          ...
13188          570.0        528.0
13190         4656.0       4680.0
13191         1900.0       2160.0
13192         2550.0       2160.0
13197         2700.0       3120.0

[3314 rows x 2 columns]

In [40]:
airbnb['Beds'].max()

16.0

In [5]:
df = pd.read_csv('../data/points/housing_airbnb.csv',low_memory=False)
df.head()

   house_id    airbnb
0         0  14890676
1         0     82681
2         0  13024612
3         0  17044186
4         0   6859105

In [10]:
df['count'] = df.groupby('house_id')['airbnb'].transform('count')

         airbnb
0            85
1            85
2            85
3            85
4            85
...         ...
3237330      29
3237331      29
3237332      29
3237333      29
3237334      29

[3237335 rows x 1 columns]